.lunch {
  &__title {
    text-align: center;
  }

  &__restaurant-count {
    text-align: right;
  }

  &__category-block {
    display: inline-block;
    margin: 20px 0;
    padding: 10px 10px 0;
    border: 2px dotted #616161;
    border-radius: 9px;
    background-color: #eee;
  }

  &__category {
    float: left;
    margin: 0 10px 10px 0;
  }

  &__result {
    margin: 0 0 20px;
  }

  &__btn {
    display: block;
    width: 300px;
    height: 80px;
    margin: 0 auto 50px;
    border: 0;
    border-radius: 40px;
    background-color: #E64A19;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    outline: 0;
    cursor: pointer;

    &:hover {
      background-color: #FF3D00;
    }

    .material-icons {
      font-size: 34px;
      font-weight: bold;
      line-height: 40px;
    }
  }
}

@media (min-width: 750px) {
  .lunch{
    &__category-block {
      margin: 50px 0;
      padding: 30px 30px 0;
    }

    &__category {
      margin: 0 30px 30px 0;
    }
  }
}
