.lunch__title {
  text-align: center; }

.lunch__restaurant-count {
  text-align: right; }

.lunch__category-block {
  display: inline-block;
  margin: 50px 0 50px;
  padding: 30px 30px 0;
  border: 2px dotted #616161;
  border-radius: 9px;
  background-color: #eee; }

.lunch__category {
  float: left;
  margin: 0 30px 30px 0; }

.lunch__btn {
  display: block;
  width: 300px;
  height: 80px;
  margin: 50px auto;
  border: 0;
  border-radius: 40px;
  background-color: #E64A19;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  outline: 0;
  cursor: pointer; }
  .lunch__btn:hover {
    background-color: #FF3D00; }
  .lunch__btn .material-icons {
    font-size: 34px;
    font-weight: bold;
    line-height: 40px; }
